function Main.main 1
    call LongTwo.new 0
    pop local 0
    push local 0
    push constant 30000
    call LongTwo.add 2
    pop temp 0
    push local 0
    call LongTwo.toString 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push local 0
    push constant 30000
    call LongTwo.add 2
    pop temp 0
    push local 0
    call LongTwo.toString 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push local 0
    push constant 25205
    call LongTwo.subtract 2
    pop temp 0
    push local 0
    call LongTwo.toString 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push local 0
    push constant 25
    call LongTwo.subtract 2
    pop temp 0
    push local 0
    call LongTwo.toString 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push constant 0
    return