function CookieClicker.new 0
    push constant 13
    call Memory.alloc 1
    pop pointer 0
    push constant 10000
    pop this 0
    push constant 128
    push constant 32
    push constant 2
    call Math.divide 2
    sub
    pop this 2
    push constant 32
    pop this 3
    push constant 0
    pop this 5
    push constant 0
    pop this 7
    push constant 0
    pop this 4
    push constant 0
    pop this 6
    push constant 0
    pop this 8
    push constant 0
    pop this 9
    push constant 15
    push constant 1
    push constant 115
    push constant 0
    push constant 1
    call Upgrades.new 5
    pop this 10
    push constant 0
    pop this 11
    push constant 100
    push constant 10
    push constant 115
    push constant 0
    push constant 2
    call Upgrades.new 5
    pop this 12
    push pointer 0
    return
function CookieClicker.handleUpgradeLogic 0
    push argument 0
    pop pointer 0
    push this 10
    call Upgrades.getAmount 1
    push constant 0
    gt
    not
    if-goto CookieClicker_1
    push this 9
    push constant 1
    add
    pop this 9
    push this 9
    push constant 45
    gt
    not
    if-goto CookieClicker_3
    push this 0
    push this 10
    call Upgrades.getAmount 1
    push this 10
    call Upgrades.getWorth 1
    call Math.multiply 2
    add
    pop this 0
    push constant 0
    pop this 9
    push constant 1
    neg
    pop this 5
    goto CookieClicker_2
label CookieClicker_3
label CookieClicker_2
    goto CookieClicker_0
label CookieClicker_1
label CookieClicker_0
    push this 12
    call Upgrades.getAmount 1
    push constant 0
    gt
    not
    if-goto CookieClicker_5
    push this 11
    push constant 1
    add
    pop this 11
    push this 11
    push constant 225
    gt
    not
    if-goto CookieClicker_7
    push this 0
    push this 12
    call Upgrades.getAmount 1
    push this 12
    call Upgrades.getWorth 1
    call Math.multiply 2
    add
    pop this 0
    push constant 0
    pop this 11
    push constant 1
    neg
    pop this 5
    goto CookieClicker_6
label CookieClicker_7
label CookieClicker_6
    goto CookieClicker_4
label CookieClicker_5
label CookieClicker_4
    push constant 0
    return
function CookieClicker.cps 0
    push argument 0
    pop pointer 0
    push this 10
    call Upgrades.getCPS 1
    push this 12
    call Upgrades.getCPS 1
    add
    return
function CookieClicker.run 2
    push argument 0
    pop pointer 0
    push this 2
    push this 3
    push constant 32
    call Math.multiply 2
    add
    call CookieDrawings.drawPressedCookie 1
    pop temp 0
    push constant 2
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 21
    call String.new 1
    push constant 83
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 0
    call ScoreBoard.printCookies 1
    pop temp 0
    push pointer 0
    call CookieClicker.cps 1
    push this 10
    push this 12
    call ScoreBoard.printUpgrades 3
    pop temp 0
label CookieClicker_8
    push constant 1
    neg
    not
    if-goto CookieClicker_9
    call Keyboard.keyPressed 0
    pop local 0
    push this 5
    not
    if-goto CookieClicker_11
    push this 0
    call ScoreBoard.printCookies 1
    pop temp 0
    push constant 0
    pop this 5
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto CookieClicker_10
label CookieClicker_11
label CookieClicker_10
    push this 6
    not
    if-goto CookieClicker_13
    push pointer 0
    call CookieClicker.cps 1
    push this 10
    push this 12
    call ScoreBoard.printUpgrades 3
    pop temp 0
    push constant 0
    pop this 6
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto CookieClicker_12
label CookieClicker_13
label CookieClicker_12
    push local 0
    push constant 0
    eq
    not
    if-goto CookieClicker_15
    push constant 0
    pop this 7
    goto CookieClicker_14
label CookieClicker_15
    push this 7
    not
    not
    if-goto CookieClicker_17
    push constant 1
    neg
    pop this 7
    push local 0
    push constant 32
    eq
    not
    if-goto CookieClicker_19
    push this 0
    push constant 1
    add
    pop this 0
    push constant 1
    neg
    pop this 4
    push constant 0
    pop this 8
    push constant 1
    neg
    pop this 5
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto CookieClicker_18
label CookieClicker_19
label CookieClicker_18
    push local 0
    push constant 99
    eq
    not
    if-goto CookieClicker_21
    push this 0
    push this 10
    call Upgrades.getCost 1
    push constant 1
    sub
    gt
    not
    if-goto CookieClicker_23
    push this 0
    push this 10
    call Upgrades.getCost 1
    sub
    pop this 0
    push this 10
    call Upgrades.getUpgrade 1
    pop temp 0
    push constant 1
    neg
    pop this 6
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto CookieClicker_22
label CookieClicker_23
label CookieClicker_22
    goto CookieClicker_20
label CookieClicker_21
label CookieClicker_20
    push local 0
    push constant 103
    eq
    not
    if-goto CookieClicker_25
    push this 0
    push this 12
    call Upgrades.getCost 1
    push constant 1
    sub
    gt
    not
    if-goto CookieClicker_27
    push this 0
    push this 12
    call Upgrades.getCost 1
    sub
    pop this 0
    push this 12
    call Upgrades.getUpgrade 1
    pop temp 0
    push constant 1
    neg
    pop this 6
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto CookieClicker_26
label CookieClicker_27
label CookieClicker_26
    goto CookieClicker_24
label CookieClicker_25
label CookieClicker_24
    goto CookieClicker_16
label CookieClicker_17
label CookieClicker_16
label CookieClicker_14
    push pointer 0
    call CookieClicker.handleUpgradeLogic 1
    pop temp 0
    push local 1
    push constant 1
    add
    pop local 1
    push local 1
    push constant 10
    gt
    not
    if-goto CookieClicker_29
    push constant 0
    pop local 1
    goto CookieClicker_28
label CookieClicker_29
    push this 4
    not
    if-goto CookieClicker_31
    push this 2
    push this 3
    push constant 32
    call Math.multiply 2
    add
    call CookieDrawings.drawCookie 1
    pop temp 0
    push this 8
    push constant 1
    add
    pop this 8
    push this 8
    push constant 4
    gt
    not
    if-goto CookieClicker_33
    push constant 0
    pop this 4
    push this 2
    push this 3
    push constant 32
    call Math.multiply 2
    add
    call CookieDrawings.drawPressedCookie 1
    pop temp 0
    push constant 0
    pop this 8
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto CookieClicker_32
label CookieClicker_33
label CookieClicker_32
    goto CookieClicker_30
label CookieClicker_31
label CookieClicker_30
label CookieClicker_28
    push local 0
    push constant 140
    eq
    not
    if-goto CookieClicker_35
    push constant 0
    return
    goto CookieClicker_34
label CookieClicker_35
label CookieClicker_34
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto CookieClicker_8
label CookieClicker_9
    push constant 0
    return
function CookieClicker.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return