function CookieDrawings.drawCookie 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 512
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 256
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 128
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 64
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 32
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 8
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 4
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 2
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 2
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 4
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 8
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 16
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 864
    add
    push constant 32
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 896
    add
    push constant 64
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 928
    add
    push constant 128
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 960
    add
    push constant 256
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 992
    add
    push constant 512
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 63
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 255
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 1023
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 2047
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 4095
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 8191
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 16383
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 16383
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 8191
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 4095
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 865
    add
    push constant 2047
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 897
    add
    push constant 1023
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 929
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 961
    add
    push constant 255
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 993
    add
    push constant 127
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function CookieDrawings.drawPressedCookie 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 512
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 2304
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 31104
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 26048
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 4320
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 17168
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 18424
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 26300
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 8934
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 11913
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 22587
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 6533
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 18515
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 14947
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 28771
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 29585
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 29403
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 31149
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 13847
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 7643
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 30329
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 9285
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 13495
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 6406
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 11204
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 31560
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 11920
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 864
    add
    push constant 30944
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 896
    add
    push constant 3136
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 928
    add
    push constant 1920
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 960
    add
    push constant 256
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 992
    add
    push constant 512
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 63
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 255
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 484
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 1005
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 1931
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 3128
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 7665
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 16310
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 29616
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 2479
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 9034
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 28202
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 20530
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 2273
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 7800
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 6149
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 31121
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 18849
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 26766
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 9313
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 13401
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 10973
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 6110
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 29150
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 12543
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 7507
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 3708
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 865
    add
    push constant 1821
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 897
    add
    push constant 896
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 929
    add
    push constant 480
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 961
    add
    push constant 255
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 993
    add
    push constant 127
    call Memory.poke 2
    pop temp 0
    push constant 0
    return