function LongNumbers.new 0
    push constant 22
    call Memory.alloc 1
    pop pointer 0
    call LongNum.new 0
    pop this 0
    push this 0
    push constant 0
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 1
    push this 1
    push constant 1
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 2
    push this 2
    push constant 2
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 3
    push this 3
    push constant 7
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 4
    push this 4
    push constant 15
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 5
    push this 5
    push constant 24
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 6
    push this 6
    push constant 25
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 7
    push this 7
    push constant 50
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 8
    push this 8
    push constant 87
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 9
    push this 9
    push constant 365
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 10
    push this 10
    push constant 100
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 11
    push this 11
    push constant 500
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 12
    push this 12
    push constant 1000
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 13
    push this 13
    push constant 1400
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 14
    push this 14
    push constant 5000
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 15
    push this 15
    push constant 10000
    call LongNum.add 2
    pop temp 0
    call LongNum.new 0
    pop this 16
    push this 16
    push this 15
    call LongNum.addLong 2
    pop temp 0
    push this 16
    push this 15
    call LongNum.addLong 2
    pop temp 0
    push this 16
    push this 15
    call LongNum.addLong 2
    pop temp 0
    call LongNum.new 0
    pop this 17
    push this 17
    push this 16
    call LongNum.addLong 2
    pop temp 0
    push this 17
    push this 16
    call LongNum.addLong 2
    pop temp 0
    push this 17
    push this 16
    call LongNum.addLong 2
    pop temp 0
    push this 17
    push this 15
    call LongNum.addLong 2
    pop temp 0
    call LongNum.new 0
    pop this 18
    push this 18
    push this 17
    call LongNum.addLong 2
    pop temp 0
    push this 18
    push this 17
    call LongNum.addLong 2
    pop temp 0
    push this 18
    push this 17
    call LongNum.addLong 2
    pop temp 0
    push this 18
    push this 17
    call LongNum.addLong 2
    pop temp 0
    push this 18
    push this 17
    call LongNum.addLong 2
    pop temp 0
    call LongNum.new 0
    pop this 19
    push this 19
    push this 18
    call LongNum.addLong 2
    pop temp 0
    push this 19
    push this 18
    call LongNum.addLong 2
    pop temp 0
    call LongNum.new 0
    pop this 20
    push this 20
    push this 19
    call LongNum.addLong 2
    pop temp 0
    push this 20
    push this 19
    call LongNum.addLong 2
    pop temp 0
    push this 20
    push this 19
    call LongNum.addLong 2
    pop temp 0
    push this 20
    push this 19
    call LongNum.addLong 2
    pop temp 0
    push this 20
    push this 19
    call LongNum.addLong 2
    pop temp 0
    call LongNum.new 0
    pop this 21
    push this 21
    push this 20
    call LongNum.addLong 2
    pop temp 0
    push pointer 0
    return
function LongNumbers.getZero 0
    push argument 0
    pop pointer 0
    push this 0
    return
function LongNumbers.getOne 0
    push argument 0
    pop pointer 0
    push this 1
    return
function LongNumbers.getTwo 0
    push argument 0
    pop pointer 0
    push this 2
    return
function LongNumbers.getSeven 0
    push argument 0
    pop pointer 0
    push this 3
    return
function LongNumbers.getFifteen 0
    push argument 0
    pop pointer 0
    push this 4
    return
function LongNumbers.getTwentyFour 0
    push argument 0
    pop pointer 0
    push this 5
    return
function LongNumbers.getTwentyFive 0
    push argument 0
    pop pointer 0
    push this 6
    return
function LongNumbers.getFifty 0
    push argument 0
    pop pointer 0
    push this 7
    return
function LongNumbers.getEightySeven 0
    push argument 0
    pop pointer 0
    push this 8
    return
function LongNumbers.getOneHundred 0
    push argument 0
    pop pointer 0
    push this 10
    return
function LongNumbers.getFiveHundred 0
    push argument 0
    pop pointer 0
    push this 11
    return
function LongNumbers.getThreeHundredSixtyFive 0
    push argument 0
    pop pointer 0
    push this 9
    return
function LongNumbers.getOneThousand 0
    push argument 0
    pop pointer 0
    push this 12
    return
function LongNumbers.getFourteenHundred 0
    push argument 0
    pop pointer 0
    push this 13
    return
function LongNumbers.getFiveThousand 0
    push argument 0
    pop pointer 0
    push this 14
    return
function LongNumbers.getTenThousand 0
    push argument 0
    pop pointer 0
    push this 15
    return
function LongNumbers.getThirtyThousand 0
    push argument 0
    pop pointer 0
    push this 16
    return
function LongNumbers.getOneHundredThousand 0
    push argument 0
    pop pointer 0
    push this 17
    return
function LongNumbers.getFiveHundredThousand 0
    push argument 0
    pop pointer 0
    push this 18
    return
function LongNumbers.getOneMillion 0
    push argument 0
    pop pointer 0
    push this 19
    return
function LongNumbers.getFiveMillion 0
    push argument 0
    pop pointer 0
    push this 20
    return
function LongNumbers.getTenMillion 0
    push argument 0
    pop pointer 0
    push this 21
    return
function LongNumbers.deAlloc 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return