function LongInt.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    call Array.new 1
    pop this 0
    push pointer 0
    call LongInt.fillWithZeros 1
    pop temp 0
    push argument 0
    pop this 1
    push pointer 0
    push argument 1
    call LongInt.setLargeNumber 2
    pop temp 0
    push pointer 0
    return
function LongInt.fillWithZeros 1
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label LongInt_0
    push local 0
    push this 1
    lt
    not
    if-goto LongInt_1
    push local 0
    push this 0
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto LongInt_0
label LongInt_1
    push constant 0
    return
function LongInt.getSize 0
    push argument 0
    pop pointer 0
    push this 1
    return
function LongInt.setLargeNumber 1
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label LongInt_2
    push local 0
    push argument 1
    call String.length 1
    lt
    not
    if-goto LongInt_3
    push local 0
    push this 1
    gt
    push constant 1
    sub
    not
    if-goto LongInt_5
    push pointer 0
    push this 1
    push constant 2
    call Math.multiply 2
    call LongInt.resize 2
    pop temp 0
    goto LongInt_4
label LongInt_5
label LongInt_4
    push local 0
    push this 0
    add
    push argument 1
    push local 0
    call String.charAt 2
    push constant 48
    sub
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto LongInt_2
label LongInt_3
    push constant 0
    return
function LongInt.print 1
    push argument 0
    pop pointer 0
    push this 1
    push constant 1
    sub
    pop local 0
label LongInt_6
    push local 0
    push constant 1
    neg
    gt
    not
    if-goto LongInt_7
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 48
    add
    call Output.printChar 1
    pop temp 0
    push local 0
    push constant 1
    sub
    pop local 0
    goto LongInt_6
label LongInt_7
    push constant 0
    return
function LongInt.getElement 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 0
    add
    pop pointer 1
    push that 0
    return
function LongInt.prune 1
    push argument 0
    pop pointer 0
    push this 1
    push constant 1
    sub
    pop local 0
label LongInt_8
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    if-goto LongInt_9
    push local 0
    push constant 1
    sub
    pop local 0
    goto LongInt_8
label LongInt_9
    push local 0
    push constant 1
    add
    pop this 1
    push constant 0
    return
function LongInt.resize 2
    push argument 0
    pop pointer 0
    push argument 1
    call Array.new 1
    pop local 0
    push constant 0
    pop local 1
label LongInt_10
    push local 1
    push this 1
    lt
    not
    if-goto LongInt_11
    push local 1
    push local 0
    add
    push local 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto LongInt_10
label LongInt_11
    push local 0
    pop this 0
    push argument 1
    pop this 1
    push constant 0
    return
function LongInt.module 0
    push argument 0
    pop pointer 0
label LongInt_12
    push argument 1
    push argument 2
    gt
    push constant 1
    sub
    not
    if-goto LongInt_13
    push argument 1
    push argument 2
    sub
    pop argument 1
    goto LongInt_12
label LongInt_13
    push argument 1
    return
function LongInt.add 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push constant 0
    pop local 1
    push argument 1
    call LongInt.getSize 1
    push this 1
    gt
    not
    if-goto LongInt_15
    push pointer 0
    push argument 1
    call LongInt.getSize 1
    push constant 2
    call Math.multiply 2
    call LongInt.resize 2
    pop temp 0
    goto LongInt_14
label LongInt_15
label LongInt_14
label LongInt_16
    push local 1
    push this 1
    lt
    not
    if-goto LongInt_17
    push local 1
    push this 0
    add
    pop pointer 1
    push that 0
    push argument 1
    push local 1
    call LongInt.getElement 2
    add
    push local 0
    add
    pop local 2
    push local 1
    push this 0
    add
    push pointer 0
    push local 2
    push constant 10
    call LongInt.module 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 2
    push constant 10
    call Math.divide 2
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    goto LongInt_16
label LongInt_17
    push constant 0
    return
function LongInt.subtract 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push constant 0
    pop local 1
label LongInt_18
    push local 1
    push this 1
    lt
    not
    if-goto LongInt_19
    push local 1
    push this 0
    add
    pop pointer 1
    push that 0
    push argument 1
    push local 1
    call LongInt.getElement 2
    sub
    push local 0
    sub
    pop local 2
    push local 1
    push this 0
    add
    push pointer 0
    push local 2
    push constant 10
    call LongInt.module 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 2
    push constant 10
    call Math.divide 2
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    goto LongInt_18
label LongInt_19
    push constant 0
    return