function UpgradeDrawings.drawCursor 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32
    add
    push constant 56
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 40
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 40
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 1000
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 3752
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 2728
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 2735
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 2061
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 2049
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 2055
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 2052
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 2060
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 2056
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 2056
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 4088
    call Memory.poke 2
    pop temp 0
    push local 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function UpgradeDrawings.drawGrandma 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 4080
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 16380
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 30750
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 4489
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 17443
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 4489
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 8196
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 8772
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 12684
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 6168
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function UpgradeDrawings.drawFarm 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32
    add
    push constant 120
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 204
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 132
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 132
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 204
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 120
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 561
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 819
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 1023
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 510
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 510
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 510
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 510
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 510
    call Memory.poke 2
    pop temp 0
    push local 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function UpgradeDrawings.drawMine 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32
    add
    push constant 504
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 1020
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 3999
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 3855
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 3591
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 3075
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 3075
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 3075
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 3075
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 3075
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 3219
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 3219
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 4095
    call Memory.poke 2
    pop temp 0
    push local 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function UpgradeDrawings.drawWarehouse 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32
    add
    push constant 4
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 14
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 14
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 14
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 443
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 427
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 455
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 455
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 455
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 455
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function UpgradeDrawings.drawBank 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32
    add
    push constant 96
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 240
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 504
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 1020
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 1950
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 780
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 780
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 780
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 780
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 1950
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 4095
    call Memory.poke 2
    pop temp 0
    push local 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return