function Upgrades.new 0
    push constant 1
    call Memory.alloc 1
    pop pointer 0
    push constant 15
    pop this 0
    push pointer 0
    return
function Upgrades.getCursorCost 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Upgrades.upgradeCursor 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 2
    call Math.multiply 2
    pop this 0
    push constant 0
    return